body {
    font-family: 'Amazon Ember';
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
  }
  .login_error1 {
    border: 1px solid red;
  }
  .card-img-top {
    width:60%;
    padding:10px;
    margin-left: 50px;
    /* padding-right: 5rem; */
  }
  
  
 
  
 
  

  


  
 
  

  


  

  
  

  
  
  
  
  .form-control:disabled,
  .form-control[readonly] {
    background-color: white;
  }
  
  /* Login & Register */
  
  .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
  
    font-weight: 700;
  }
  
  .wrapper form {
    padding: 2.5rem 3rem;
  }
  
  .wrapper form .btn {
    background-color: #fa9c23;
    border-color: #fa9c23;
    color: white;
    margin-top: 2.5rem;
  }
  
  .wrapper form a {
    font-size: 0.9rem;
    color: grey;
  }
  

 